<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {{ style('style') }}
  {{ style('dashboard')}}
</head>
@include('layouts.partials.nav')
    <body>
        <main role="main">
            @!section('main')
              
        </main>

        @include('layouts.partials.common-scripts')
    </body>
</html>
